<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro:</h1>
    <form action="{{url_for('formularioRegistro')}}" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido">
        <label for="apellido">Email</label>
        <input type="text" name="email" id="email">
        <button type="submit">Enviar</button>
    </form>
    <a href="{{url_for('pagInicio')}}">Volver</a>

</body>
</html>